*{
  padding:0px;
  margin: 0px;
}
	
.home{
	display: grid;
	grid-template-columns: 13% 87%;
	grid-auto-rows: 100% 100%;
	grid-template-rows: auto;

}


.home div{

}



.menu-lateral{
	background: #f6f7f9;
}
.menu-central{

    background: #f6f7f9;

}


.menu-info{
    border-bottom: 2px solid #d3d3d3;
    border-top: 1px solid #d3d3d3; 
    border-left: 1px solid #d3d3d3;
    border-right: 0px solid #d3d3d3;
	grid-auto-rows: 100%;
    margin: 0px;
    padding: 1px;
    background: white;
}

.menu-in{
    display: grid;

    grid-template-columns: 55% 45%;


}
.enbezadofinal{
    background:#f6f7f9 ;
}
.bienvenida{

    background: #f6f7f9;
    padding: 0px;
    margin: 14px;
    height: 160px;

}
.info-izquierda{

}

.info-uno{
 
    padding: 15px;
    margin: 20px;
    border-bottom: 2px solid #d3d3d3;
    border-top: 1px solid #d3d3d3; 
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    margin-top: 0mm;
    margin-left: 1em;
    font-family: Arial;
    font-size: 15px;
}

.info-dos{

    padding: 12px;
    margin: 20px;  
    margin-top: 0mm;
    margin-left: 0em;
    margin-right: 1em;
   
    border-bottom: 2px solid #d3d3d3;
    border-top: 1px solid #d3d3d3; 
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    font-size: 15px;
}

.info-tres{
    padding: 15px;
    margin: 20px;
    grid-auto-rows: 100%;
    margin-left: 1em;
     border-bottom: 2px solid #d3d3d3;
    border-top: 1px solid #d3d3d3; 
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;

}

.info-cuatro{
    padding: 15px;
    margin: 20px;
    grid-auto-rows: 100%;
    margin-top: 0mm;
    margin-left: 0em;
    margin-right: 1em;
     border-bottom: 2px solid #d3d3d3;
    border-top: 1px solid #d3d3d3; 
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.info-cinco{
    padding: 15px;
    margin: 20px;
    grid-auto-rows: 100%;
    margin-left: 1em;
     border-bottom: 2px solid #d3d3d3;
    border-top: 1px solid #d3d3d3; 
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;

}
.info-seis{
    padding: 15px;
    margin: 20px;
    grid-auto-rows: 100%;
    margin-left: 1em;
     border-bottom: 2px solid #d3d3d3;
    border-top: 1px solid #d3d3d3; 
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;

}

.info-siete{
    padding: 5px;
    margin: 20px;
    margin-left: 0em;
    margin-right: 1em;
     border-bottom: 2px solid #d3d3d3;
    border-top: 1px solid #d3d3d3; 
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;

}

.menu-siete{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}



<!---->


.her{

    width: 100px;
    border-bottom: 1px solid #d3d3d3;
    margin-left: 25px;
    font-family: Arial;
    font-size: 10.5px;
    margin-top: -1mm;
    padding: 5px;
}

.leccion{
    
    padding: 7px;
    margin: 2px;
}
.otros{
    
    padding: 4px;
}



.boto{
    padding: 1px;
    height: 20px;
    margin: 1px;
}

ul {
    list-style: none none;
    margin: 0;
}



.mw-encabezado{
    background-color: #f6f7f9;
    padding: 0px;


}
.vector-menu-content{
    background-color: #f6f7f9;
}


.imBienvenida
{       
        margin-top: 1mm;
        margin-left: 7mm;
        margin-right: 1px;
        width: 11216x;
        height: 140px;
        background-color: white;
        background:url(https://upload.wikimedia.org/wikipedia/commons/e/e3/Wikipedia_logo_letters_banner.svg) no-repeat bottom right;
         
        border-bottom: 3px solid #d3d3d3;
        border-top: 0px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;

        margin: 0px;
        padding: 10px;
}



.textBienvenida{
 padding: 19px;
 margin: 0em;
 margin-top: 0mm;
 font-family: Georgia;
 font-size: 15px;
}
.textLema{
    font-family: Arial;
 font-size: 15px;
}


.textCantidad{
 padding: 5px;
 margin: 0em;

 margin-top: -23mm;
 text-align-last: right;
 font-family: Arial;
 font-size: 15px;
}
.MiTabla
{
 padding: 0px;
 margin: 1em;
 margin-top: 5mm;
 margin-left: 41em;
}

.vector-menu-content-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: baseline;
    
    padding: 10px;
    font-family: Arial;
    font-size: 12px;

}

.vector-menu-content-list-right {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: baseline;
    font-family: Arial;
    font-size: 15px;

}

.vector-menu-content-list-left li a, .vector-menu-content-list-right li a{
    background-position: right bottom;
    color: #0645ad;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 3.07692308em;
    position: relative;
    padding-top: 1.25em;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.8125em;
    cursor: pointer;
    font-family: Arial;
    font-size: 12px;
}


.mw-list-item{
    padding: 4px;

}

.busqueda{
    background: red;
    padding-top: 1.25em;
    padding-left: 8px;
    padding-right: 8px;

}

.vector-menu-content-list-left .selected a, .vector-menu-content-list-left .selected a:visited,
.vector-menu-content-list-right .selected a, .vector-menu-content-list-right .selected a:visited{
    color: #202122;

    background-color: white;
    text-decoration: none;
 

}
.vector-menu-content-list-left .selected a, .vector-menu-content-list-left .selected a:visited,
.vector-menu-content-list-right .selected a, .vector-menu-content-list-right .selected a:visited{
   border-left: 1px solid #a7d7f9;

}

.vector-menu-content-list-left a,.vector-menu-content-list-right a{

    background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#a7d7f9 100%);
    background-repeat: no-repeat;
    background-size: 1px 100%;

}
a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}
a:-webkit-any-link {
    cursor: pointer;
}

.vector-menu-content-list-left li ,.vector-menu-content-list-right li{
    background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#ffffff 100%);
    background-position: left bottom;
    background-repeat: repeat-x;
    float: left;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.125em;
    white-space: nowrap;

}
li {
    text-align: -webkit-match-parent;
}
.vector-menu-content-list-left ul ,.vector-menu-content-list-right ul{
    float: left;
    height: 100%;
    list-style: none none;
    margin: 0;
    padding: 0;
        
}
.vector-menu-content-list-left ul,.vector-menu-content-list-right ul {
    list-style: none none;
    margin: 0;
    padding: 0px;
}
ul {
    list-style:none;
}

.punto-uno li {
    margin: 0;
    padding: 0.25em 0;
    line-height: 1.125em;
    word-wrap: break-word;
    font-size: 10.9px;
    margin-top: 2px;
}
.punto-uno {
    margin: 0 1.5em 0 2.5em;
    padding: 0.20em 1;
    direction: ltr;
    font-family: Arial;
    margin-left: 25px;
}


.icono{
        border-bottom: 1px solid #d3d3d3;
        border-top: 1px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        padding: 2px;
        margin: 10px;
}



.infor{
    padding: 10px;
    margin: 30px;
    width: 630px;
    height: 400px;
    margin-top: 235mm;
    border-bottom: 2px solid #d3d3d3;
    border-top: 1px solid #d3d3d3; 
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.listado li{
    margin-top: 3mm;
    margin-left: 25px;
    list-style: disc;
    font-size: 15px;
     font-family: Arial;
     font-size: 14px;


}

.Fallecimientos{
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 5mm;
    margin-top: -7mm;

}
.Fallecimientos li{
    list-style: disc;
    margin-top: 3mm;
    margin-left: 8px;

font-family: Arial;
     font-size: 14px;
}

.info-image{
    display: grid;
    grid-template-columns: 70% 30%;
}

.centro{

    display: grid;
    grid-template-columns: 95% 5%;
    border-bottom: 1px solid #d3d3d3;
    margin-top: 4mm;
    font-family: Arial;
    font-size: 1px;

}

.centro2{

    display: grid;
    grid-template-columns: 95% 5%;
    margin-top: 4mm;
    font-family: Arial;
}
.centro2 div{
    margin-top: 2mm;
    padding: 0px;

    font-size: 12px;
}

.centro div{
    margin-top: 2mm;
    padding: 0px;
    font-size: 12px;
}

.info-fin{
    display: grid;
    grid-template-columns: 70% 30%;

}

.info-fin li{
    list-style: disc;
    margin-top: 3mm;
    margin-left: 20px;

    font-size: 15px;
    font-family: Calibri;
}

.iz{
    padding: 7px;
    margin: 2px;
    background: transparent;
    border-bottom: 0px solid #d3d3d3;
    border-top: 0px solid #d3d3d3; 
    border-left: 0px solid #d3d3d3;
    border-right: 0px solid #d3d3d3;
}
.ce{
    padding: 7px;
    margin: 2px;
    align-items: center;
}
.de{
    padding: 7px;
    margin: 2px;
    background: transparent;
    border-bottom: 0px solid #d3d3d3;
    border-top: 0px solid #d3d3d3; 
    border-left: 0px solid #d3d3d3;
    border-right: 0px solid #d3d3d3;
}
.acomodo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.margen{
    margin: 0.5em;

    display: grid;
    grid-template-columns: 18% 83%;
}
.margen-d
{
    margin: 0.5em;

    display: grid;
    grid-template-columns: 20% 80%;
    text-align: center;
    margin: 15px;
    padding: 10px;

}
.ri{
    margin-left: 110px;
    margin-top: -1.5mm;
}
.banner-finnal{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-family: Arial;
    font-size: 10.5px;
    padding: 5px;
    text-align: left;
}
.banner-finnall{
    margin-left: 2px;
    margin-top: -2mm;
    display: grid;
    grid-template-columns:50% 50%;
}

.archi{
     padding: 7px;
    margin: 2px;
    background: transparent;
    border-bottom: 0px solid #d3d3d3;
    border-top: 0px solid #d3d3d3; 
    border-left: 0px solid #d3d3d3;
    border-right: 0px solid #d3d3d3;
}